div.time-zone-component
{
  margin: 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 3px;
  background-color: #ccc;
  border-color: #000;
  color: #000;
}

div.time
{
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 10px;
}

div.timezone
{
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
}
